@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans&display=swap');
:root {
  --green: #055c6e;
  --black: #000000;
  --smFontSize: 15px;
  --smLineHeight: 20.43px;
  --lgFontSize: 16px;
  --lgLineHeight: 19.5px;
  --letterSpacing: 0.16px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  text-decoration: none;
}
body {
  min-height: 100%;
  color: #333333;
  font-size: var(--smFontSize);
  font-style: normal;
  font-weight: 400;
  letter-spacing: var(--letterSpacing);
  line-height: var(--smLineHeight);
  margin: auto;
  max-height: 100%;
  max-width: 770px;
  padding: 2rem 3rem;
  text-align: left;
}
a {
  color: var(--green);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
h1 {
  color: var(--black);
  font-weight: 400;
  line-height: var(--lgLineHeight);
  letter-spacing: var(--letterSpacing);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--lgFontSize);
  font-weight: 400;
  letter-spacing: var(--letterSpacing);
  line-height: var(--lgLineHeight);
  text-align: left;
}
.body {
  margin: 2rem auto;
  font-size: var(--smFontSize);
  line-height: var(--smLineHeight);
  letter-spacing: var(--letterSpacing);
  text-align: left;
}
.index-flex-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
  height: auto;
}
.index-flex-div a {
  display: inline-block;
  text-align: center;
  letter-spacing: 0;
  text-decoration: none;
  font-weight: 600;
}
.index-flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
div.section{}
div.section h3.section-heading{}
div.body p{
  margin-top: 8px;
}
.go-arrow{
  margin-left: 2px;
}
.text-center {
  text-align: center;
}
