@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Open+Sans&display=swap');
:root {
  --green: #055c6e;
  --black: #000000;
  --white: #FFFFFF;
  --smFontSize: 15px;
  --smLineHeight: 20.43px;
  --lgFontSize: 16px;
  --lgLineHeight: 18px;
  --letterSpacing: 0.16px;
}
*,
::after,
::before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  border: 16px solid #005A6D;
  color: #333333;
  min-height: 100%;
  font-size: var(--smFontSize);
  font-style: normal;
  font-weight: 400;
  letter-spacing: var(--letterSpacing);
  line-height: var(--smLineHeight);
  margin: auto;
  max-height: 100%;
  max-width: 770px;
  padding: 2rem 2.75rem;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
body::before{
  border: 8px solid #F3A488;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 2.75rem;
  z-index: -2;
}

p {
  margin-top: 8px;
}
a {
  color: var(--green);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  line-height: 123%;
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.go-arrow {
  margin-left: 2px;
  max-width: 5px;
  max-height: 6.44px;
}
h1 {
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: var(--letterSpacing);
  line-height: 30px;
  text-align: center;
  padding: 25.5px 0 14px;
}
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--lgFontSize);
  letter-spacing: var(--letterSpacing);
  line-height: var(--lgLineHeight);
  text-align: left;
}
/* 2 columns */
.flex-row {
  margin-top: 20px;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.flex-row .flex-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  max-width: 300px;
  background: var(--white);
}

/* index page -> mobile images & centered titles above image */
.flex-row .flex-div > a {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  min-width: 100%;
  text-decoration: none;
}

.flex-row .flex-div p{
  margin: 0 auto .5rem;
}
.flex-row .flex-div img {
  border: 15px solid var(--white);
}
.text-center {
  text-align: center;
}
.drop-shadow{
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
}
.background-white{
  /*border: 16px solid var(--white); background: var(--white);*/
  margin-top: .5rem;
}
.article{
  font-size: var(--smFontSize);
  letter-spacing: var(--letterSpacing);
  line-height: var(--smLineHeight);
  margin: 2rem auto;
  text-align: left;
}
p.article-text{
  margin-top: 20px;
}
div.article  p.article-text:nth-of-type(1){
  margin-top: 13px;
}
.section-feature-image{
  background: var(--white);
  width: fit-content;
  padding: 5px;
  margin: 2rem  auto 0;
}
